@charset "UTF-8";

body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
}

.container__child {
  width: 50%;
  height: 100%;
}

.container__child {
  width: 50%;
  height: 100%;
}
.signup__form {
  padding: rem;
}
